---
import Link from "./Link.astro";

const links = [
    {title: 'LinkedIn', url: 'https://www.linkedin.com/in/myrkos-diaz/'},
    {title: 'Portfolio', url: 'https://myrkosdiaz.com/'},
    {title: 'Carrd', url: 'https://mayhemw1th1n.carrd.co/'},
    {title: 'Funny', url: 'https://mayhemwithin.straw.page/'},
    {title: 'Twitter', url: 'https://x.com/MayhemW1th1n'},

]



---
<div>

{links.map(function(link){
    return <Link data={link}/>
})}

</div>

<style>

div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
</style>