---
const {data}= Astro.props;
---
<a href={data.url} class="starburst">

  <span>{data.title}</span>

</a>

<style>

.starburst {
  background-image: url(/star-346-2.svg);
  background-size: 100% 100%;
  width: 200px; /* adjust to control the size */
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 2s;
  text-decoration: none;
  font-size: xx-large;
  color: aliceblue;
  overflow: visible;
  backdrop-filter:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

.starburst::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}


.starburst:hover {
  transform: rotate(360deg) scale(1.2);
}


</style>